name: CI

on: 
  push:
    branches:
      - master

jobs:
  # job id, can be anything
  export_game:
    # Always use ubuntu-latest for this action
    runs-on: ubuntu-latest
    # Job name, can be anything
    name: Export
    steps:
      # Always include the checkout step so that 
      # your project is available for Godot to export
      - uses: actions/checkout@v2.0.0
      - uses: raphaklaus/build-godot-action@master

          # package: true
      # Use version 1.2.0 (see releases for all versions)
      # uses: firebelley/godot-export@v1.2.0
      # with:
      #   # Defining all the required inputs
      #   # I used the mono version of Godot in this example
      #   godot_executable_download_url: https://downloads.tuxfamily.org/godotengine/3.2/Godot_v3.2-stable_linux_headless.64.zip
      #   godot_export_templates_download_url: https://downloads.tuxfamily.org/godotengine/3.2/Godot_v3.2-stable_export_templates.tpz
      #   godot_template_version: 3.2.stable
      #   relative_project_path: ./
      #   create_release: false
      # env:
      ##   GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    # - name: ls dist
    #   run: |
    #     ls ./dist
    # - run: find -name '*.zip' -exec sh -c 'unzip -d "${1%.*}" "$1"' _ {} \; 
      - uses: actions/upload-artifact@v1
        with:
          name: rexgame.x86_64
          path: build
    # - name: Upload Mac OSX
    #   uses: actions/upload-artifact@v1
    #   with:
    #     name: Mac OSX
    #     path: ./dist/Mac OSX
    # - name: Upload Windows Desktop
    #   uses: actions/upload-artifact@v1
    #   with:
    #     name: Windows Desktop
    #     path: ./dist/Windows Desktop

    # - name: Deploy Linux to Itch.io
    #   uses: josephbmanley/butler-publish-itchio-action@master
    #   env:
    #     BUTLER_CREDENTIALS: ${{ secrets.BUTLER_CREDENTIALS }}
    #     CHANNEL: linux
    #     ITCH_GAME: rex-game
    #     ITCH_USER: raphaklaus
    #     PACKAGE: /home/runner/.local/share/godot/dist/LinuxX11.zip
    # - name: Deploy Windows to Itch.io
    # - uses: josephbmanley/butler-publish-itchio-action@master
    #   env:
    #     BUTLER_CREDENTIALS: ${{ secrets.BUTLER_CREDENTIALS }}
    #     CHANNEL: windows
    #     ITCH_GAME: rex-game
    #     ITCH_USER: raphaklaus
    #     PACKAGE: dist/Windows Desktop.zip
    # - name: Deploy MacOS to Itch.io
    # - uses: josephbmanley/butler-publish-itchio-action@master
    #   env:
    #     BUTLER_CREDENTIALS: ${{ secrets.BUTLER_CREDENTIALS }}
    #     CHANNEL: mac
    #     ITCH_GAME: rex-game
    #     ITCH_USER: raphaklaus
    #     PACKAGE: dist/Mac OSX.zip
    # - name: Deploy HTML5 to Itch.io
    # - uses: josephbmanley/butler-publish-itchio-action@master
    #   env:
    #     BUTLER_CREDENTIALS: ${{ secrets.BUTLER_CREDENTIALS }}
    #     CHANNEL: html5
    #     ITCH_GAME: rex-game
    #     ITCH_USER: raphaklaus
    #     PACKAGE: dist/HTML5.zip